* {
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.header {
    background-color: antiquewhite;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.left-side {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.right-side {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.sidebar {
    background-color: blue;
    grid-row: 1 / 3;
}

.main-content {
    background-color: thistle;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 2rem;
}
.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}
.main-sidebar {
    display: grid;
    gap: 2rem;
}
.announcements {
    display: grid;
    gap: 1rem;
}
.trending {
    display: grid;
    gap: 1rem;
}