* {
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.header {
    background-color: white;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem 2rem;
}
.header-top-left {
    display: flex;
    align-items: center;
}
.header-top-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}
.header-bottom-left {
    display: flex;
}
.header-bottom-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.sidebar {
    background-color: blue;
    grid-row: 1 / 3;
}

.main-content {
    background-color: thistle;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 2rem;
}
.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}
.main-sidebar {
    display: grid;
    gap: 2rem;
}
.announcements {
    display: grid;
    gap: 1rem;
}
.trending {
    display: grid;
    gap: 1rem;
}