* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}
svg {
    width: 24px;
    height: 24px;
}
/* h2 {
    color: #f0b429;
} */
.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.header {
    background-color: white;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem 2rem;
}
.header-top-left {
    display: flex;
    align-items: center;
}
.header-top-left form {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.75rem;
}
.header-top-left button {
    background: transparent;
    border: none;
    cursor: pointer;
}
.header-top-left svg {
    width: 22px;
    height: 22px;
}
.header-top-left button:hover svg {
    fill: rgba(0,0,0,0.4);
}
.header-top-left form input {
    background-color: #e2e8f0;
    border: none;
    border-radius: 20px;
    padding: 0.4rem 1rem;
    flex: 1;
    font-size: 1rem;
    outline: none;
    transition: background-color 0.3s;
}
.header-top-left form input:focus {
    background-color: #f1f5f9;
}
.header-top-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
}
.header-top-right svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.header-top-right img {
    width: 45px;
    height: 45px;
}
.header-top-right p {
    font-size: 1rem;
    font-weight: 600;
}
.header-bottom-left {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.header-bottom-left img {
    width: 60px;
    height: 60px;
}
.header-bottom-left p {
    font-size: 0.8rem;
    font-weight: 500;
}
.header-bottom-left h1 {
    font-size: 1.4rem;
    font-weight: 700;
}
.header-bottom-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.sidebar {
    grid-row: 1 / 3;
    padding: 2rem;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 2rem;
    background-color: #1992d4;
    color: white;
}
.sidebar svg {
    fill: white;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 2rem;
    background-color: #e2e8f0;
}
.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}
.project-card {
    background-color: white;
}
.project-card p {
    color: #999;
}
.main-sidebar {
    display: grid;
    gap: 2rem;
}
.announcements-grid {
    display: grid;
    gap: 1rem;
    background-color: white;
}
.trending-grid {
    display: grid;
    gap: 1rem;
    background-color: white;
}