* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}
svg {
    width: 24px;
    height: 24px;
}
/* h2 {
    color: #f0b429;
} */
.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.header {
    background-color: white;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem 2rem;
}
.header-top-left {
    display: flex;
    align-items: center;
}
.header-top-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}
.header-bottom-left {
    display: flex;
}
.header-bottom-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.sidebar {
    grid-row: 1 / 3;
    padding: 2rem;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 2rem;
    background-color: #1992d4;
    color: white;
}
.sidebar svg {
    fill: white;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 2rem;
    background-color: #e2e8f0;
}
.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}
.project-card {
    background-color: white;
}
.project-card p {
    color: #999;
}
.main-sidebar {
    display: grid;
    gap: 2rem;
}
.announcements-grid {
    display: grid;
    gap: 1rem;
    background-color: white;
}
.trending-grid {
    display: grid;
    gap: 1rem;
    background-color: white;
}